@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Noto+Naskh+Arabic:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    padding:0px;
    margin:0px;
    font-family: 'VT323';
}

body {
    height: 844px;
    width: 390px;
    background-color: black;
    position: relative;


}

.g {
    color:white;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
}

.count {
    top:50%;
}

.counter {
    position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    height:120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid red;
    background-color: #333;
    color:white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bar { 
    background-color: lime;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickDiv {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:2px solid white;
    background-color: #333;
    border-radius: 10px;
    /* height:500px;
    width:350px; */
    background-color: #333;
    animation-name: fin;
    animation-duration: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes fin {
    0% {height: 0px;
    width:0px;}
    20% {height:20px;
    width: 20px;}
    100% {height:500px;
    width:350px;}
}

.cancel {
    background-color: red;
    height:25px;
    width:25px;
    position: absolute;
    top:0px;
    right:0px;
    margin:10px;
    border:2px solid white;
    border-radius: 3px;
    color:White;
}

.cancel:hover {
    cursor: pointer;
}
.text {
    color:white;
    font-size: 20px;
}

.resetCount {
    margin: 10px;
    position: absolute;
    top:0px;
    left:0px;
    height:30px;
    width: 100px;

}